<html>

<head>
  <title>
    {% block title %}OpenAPI Tooling{% endblock %}
  </title>
  <link rel="shortcut icon" href="https://www.openapis.org/wp-content/uploads/sites/3/2016/11/favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />

</head>

<body>
  <div class="flex flex-col">

    <div class="sticky top-0 w-full bg-white border-b border-gray-300 z-30 ">
      <div class="bg-white max-w-screen-xl block px-4 sm:px-6 lg:px-8 mx-auto z-50">
        <div class="flex w-full justify-between items-center py-2 lg:justify-start lg:space-x-10">
          <div class="lg:w-auto lg:flex-1">
            <div class="flex">
              <img class="object-contain h-16 w-44" alt="OpenAPI Initiative"
                src="https://www.openapis.org/wp-content/uploads/sites/3/2018/02/OpenAPI_Logo_Pantone-1.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>