<div class="sticky top-0 w-full bg-white border-b border-gray-300 z-30 grid grid-cols-10">
  <div class="col-span-1"></div>
  <div class="col-span-8">
    <div class="flex w-full justify-between items-center py-2 lg:justify-start lg:space-x-10">
      <div class="lg:w-auto lg:flex-1">
        <div class="flex">
          <a href="{% if hostedAt === true %}/{% else %}{{hostedAt}}{% endif %}"><img class="object-contain h-16 w-44" alt="OpenAPI Initiative"
              src="https://www.openapis.org/wp-content/uploads/sites/3/2018/02/OpenAPI_Logo_Pantone-1.png"></a>
          <nav class="hidden lg:flex lg:items-center lg:justify-end space-x-6 xl:space-x-10 w-full">

            <a target="_self" rel="noopener noreferrer"
            class="text-secondary-500 font-bold font-body text-base leading-6 text-gray-700 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150"
            href="{% if hostedAt === true %}/{% else %}{{hostedAt}}{% endif %}">Home</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1"></div>
</div>